.h-wrapper{
    background-color:black;
    color:white;
    width:100%;
    
    
}
.h-container{
    padding-top:1rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.logo-container{
    display: flex;
    align-items: center;
}
.logo-name{
    font-style: italic;
    font-size:1rem;
    margin-left:1rem;
}
.menu-bar-toggle{
    display:none;
}

.menu-option{
    list-style:none ;
    cursor:pointer;
    padding:1rem;
    transition: all 3s ease-in-out;
}
.h-menu ul{
    margin-right:3rem;
    cursor: pointer;
    display: flex;
    gap:4rem;
    align-items: center;
    
    
}
li{
    list-style-type: none;
    cursor: pointer;
    font-size: 15px;
    
    
}
li > a{
    text-decoration: none;
    color:white;
    position: relative;
}

.h-menu >a{
    display: flex;
    gap:2rem;
    padding-right:3rem;
    text-decoration: none;
    color:white;
    position: relative;
}
.a::after{
    content: '';
    width: 0;
    height:3px;
    background: #ffffff;
    position: absolute;
    left:0;
    bottom: -6px;
    transition:0.3s;
}
.a:hover::after{
    width:100%;
}

.h-menu >a:hover{
    /* color: rgba(255, 255, 255, 0.677); */
}
.button{
  background-color:rgb(58, 114, 234);
  border:none;
  border-radius:5px;
  padding:10px 20px;
  
}
.button >a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.816);
    transition:all 300ms ease-in;
}
.button:hover{
    transform:scale(1.1);
}
.button>a:hover{
    color:rgba(0, 0, 0, 0.816);
    cursor: pointer;
    transform:scale(1.1);
}

/*------------------------------ Hamburger options ------------------------------- */
/*------------------------------ Hamburger options ------------------------------- */
/*------------------------------ Hamburger options ------------------------------- */



.hamburger_container, 
.Mobile_panel {
    display: none;
}

@media (min-width:0px) and (max-width:1150px){
    body,html{
        overflow-x: hidden;
        width:100%;
    }
    .h-wrapper{
    background-color:black;
    color:white;
    z-index:9999;
    
    
}
    .menu-bar-toggle {
        display: block;
        transition:2s;
     }
     .svg-inline--fa {
        display: var(--fa-display, inline-block);
        height: 1.5em;
        overflow: visible;
        vertical-align: -0.125em;
        color: rgb(0, 0, 0);
    }
    .navlink,.ki,.h-menu {
        display: none;
        align-items: center;
        margin-left:0rem;
        flex-direction: column;
        width: 100%;
        height:100%;
        position: absolute;
        top: 51px;
        left: 0;
        padding: 0;
        
      }
    .nav-links.open {
        display: flex;
        background-color:rgb(255, 255, 255);
        width:100vw;
        height:30rem; 
        
       }
    
    .hamburger_container {
        display: flex;
        align-items: center;
        z-index: 100;
        margin-left:20px;
        margin-bottom:5px;
    }


    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        cursor: pointer;
        appearance: none;
        background: none;
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        padding-top:3px;
    }


    .hamburger .bar, .hamburger:after, .hamburger:before {
        box-sizing: content-box;
        content: '';
        display: block;
        width: 25px;
        height: 2px;
        background-color: #ffffff;
        margin: 3.5px 1px;
        transition: 0.4s;
        z-index: 999;
        overflow-x: hidden;
        border-style: solid;
        border-width: 1px;
        border-color: #f1f1f100;
        border-radius: 5px;
    }    


    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-7px, -4px);
    }

    .hamburger.is-active .bar {
        opacity: 0;
        
    }

    .Mobile_panel {
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        display: flex;
        align-items: flex-end;
        margin: 0 auto;
        position: fixed;
        width: 100vh;
        height: 1300px;
        z-index:-1;
        pointer-events: none;
    }
    li > a{
        text-decoration: none;
        color:rgb(255, 255, 255);
        position: relative;
    }


    .Mobile_panel.is-active {
        opacity: 1;
        z-index: 1;
        pointer-events: all;
    }

    .menu-items {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        gap:3rem;
        justify-content: center;
        align-items: center;
        height: 48.7%;
        padding-bottom:10rem;
        width: 96.7vw;
        border-radius: 5px;
        z-index:-1;
        border:solid 1px silver;
    }

    .menu-option {
        font-weight: 100;
        margin-bottom: 25px;
    }
    .links-login-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:0;
    }
}