.contact{
    padding-top:3rem;
    padding-bottom:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1;
}
.zombi{
    display: flex;
    justify-content: space-around !important;
    align-items: center;
    gap:0rem;
    margin-left:7vw;
}
.ibiri{
    display: flex;
    flex-direction: column;
}
.ibiri>h3{
 color:orange;
 font-size:2rem;
 font-weight:600;
}
.ibiri{
 color:#1f3e72;
 font-size:1.4rem;
 font-weight:bold;
}
.ibiri>p{
 padding-top:7px;
 padding-bottom:1rem;
 color: rgba(0, 0, 0, 0.696);
 font-size:16px;
 width:70%;
 /* font-family:"poppins" sans-serif; */
}


.inform{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
}
.call>p,.chat>p,.video>p,.message>p{
    padding-top:8px;
    padding-bottom:1rem;
    font-size:12px;
}
.call>h4,.chat>h4,.video>h4,.message>h4{
    font-weight:bold;
    color:rgba(0, 0, 0, 0.758);
}
.call>a,.chat>a,.video>a,.message>a{
    all:unset;
    color: rgba(3, 57, 150, 0.712);
    font-weight: bold;
    cursor: pointer;
    
}
.call>a:hover,.chat>a:hover,.call>a:hover,.message>a:hover{
   color: rgb(46, 86, 157);
   font-size:17px;
   transition: 0.1s;
}
.call-chat{
    display: flex;
    align-items: center;
    gap:6rem;
    padding-bottom:3rem;
}
.video-message{
    display: flex;
}
/* .image-container2{
    margin-left:5rem;
    
    width:30rem;
    height:29rem;
    overflow:hidden;
    border-radius:15rem 15rem 0 0;
    border:8px solid rgb(0, 0, 0);
    margin-bottom:7rem;

} */
.image-containerr>img{
    width:90%;
    height:100%;
 
}
@media (min-width:0px) and (max-width:987px){
    .zombi{
        display: flex;
        flex-direction: column;
        justify-content: space-around !important;
        align-items: center;
        gap:0rem;
        margin-left:7vw;
    }
    .iyambere{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .ibiri>h3 {
        color: orange;
        font-size: 1.5rem;
        font-weight: 600;
    }
    .call-chat {
        display: flex;
        align-items: center;
        gap: 4rem;
        padding-bottom: 3rem;
    }
    .ibiri>h1{
        font-size:1.7rem;
    }
    .ibiri>p {
        padding-top: 7px;
        padding-bottom: 1rem;
        color: rgba(0, 0, 0, 0.696);
        font-size: 16px;
        width: 90%;
    }
    .image-containerr>img{
        width:90%;
        height:auto;
     
    }
}