
.r-head{
margin-bottom:2rem;
margin-top:3rem;

}
.orangeText{
    color:orange;
    font-size:1.5rem;
    font-weight:600;
    margin-left:40%;
}
.PrimaryText{
    color:#1f3e72;
    font-weight:bold;
    font-size:2rem;
    margin-left:34rem;
}