
.r-head{
margin-bottom:2rem;
margin-top:3rem;
justify-content: center;
text-align: center;

}
.orangeText{
    color:orange;
    font-size:1rem;
    font-weight:600;

}
.PrimaryText{
    color:#1f3e72;
    font-weight:bold;
    font-size:2rem;
}