.c-container{
display: flex;
align-items: center;
justify-content: space-around;
}
.c-container{
    display: flex;

}
.c-container>img{
 width:100px;
 height:80px;
}
.gg, .hh{
     filter: grayscale(20%) brightness(10%) saturate(50%);
 gap:10rem;
}
@media (min-width:498px) and (max-width:1150px){
    .c-container>img{
        width:70px;
        height:60px;
       }
}
@media (min-width:0px) and (max-width:498px){
    .c-container>img{
        width:14vw;
        height:auto;
       }
}